html, body {
    width: 100%;
    margin:0;
}

html {
    height: 100%;
}

body{
    padding: 30px 15px;
    max-width: 800px;
    margin: auto;
}

body > * {
    flex-grow: 1 
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

canvas {
    width: 60vmin;
    max-width: 60%;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    border-radius: 3px
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    border: 1px solid rgba(0,0,0,0.2);
    background-color:white;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover{
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.05);
}

button:active{
    background-color: rgba(0,0,0,0.1);
    transform: scale(0.95);
}

#center {
    align-items: start;
}

#predictions {
    flex-grow: 1;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 20px 15px;
    list-style-type:none;
    margin: 0;
}

#predictions li {
    margin: 5px 0px;
}

#predictions li span {
    width: 75px;
}

#predictions .bar {
    height: 1.5em;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    width: 100px;
    overflow: hidden;
}

#predictions .bar div {
    height: 100%;
    background-color: black;
    border-radius: 3px;
}

@media (max-width: 600px){
    #center {
        flex-direction: column;
    }
    canvas {
        width: 100%;
        max-width: 100%;
    }

    #predictions {
        width: 100%;
    }
}
